.container-fluid {
  background: url('/assets/images/login-background.jpg') center center no-repeat;
  background-size: cover;
  height: 100vh;

  .row {
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
  }
}

.title {
  text-shadow: 0 0 3px gray, 0 0 3px black, 0 0 3px gray, 0 0 3px black; 
  color: white;
  font-size: 5rem;
}
