<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div>
      <div class="col-12 text-center title">Angular Template Starter</div>
      <div class="card col-4 offset-4">
        <div class="card-body">
          <h4 class="card-title">Register</h4>
          <form [formGroup]="registerFG" (ngSubmit)="submit()">

            <div class="form-group mt-3 mb-3" [ngClass]="{'has-danger': emailInvalid()}">
              <label for="email" class="label">Email Address</label>
              <input type="email" class="form-control" formControlName="email" autocomplete="off">
              <label class="text-danger" for="email" *ngIf="emailInvalid() && email.errors?.['required']">Email is required.</label>
              <label class="text-danger" for="email" *ngIf="emailInvalid() && email.errors?.['email']">Email is invalid.</label>
            </div>

            <div class="form-group mt-3 mb-3" [ngClass]="{'has-danger': passwordInvalid()}">
              <label for="password" class="label">Password</label>
              <input type="password" class="form-control" formControlName="password" autocomplete="off">
              <label class="text-danger" for="password" *ngIf="passwordInvalid() && password.errors?.['required']">Password is required.</label>
              <label class="text-danger" for="password" *ngIf="passwordInvalid() && password.errors?.['minlength']">Password must be at least 8 characters long.</label>
            </div>
            
            <div class="form-group mt-3 mb-3" [ngClass]="{'has-danger': confirmedPasswordInvalid()}">
              <label for="confirmedPassword" class="label">Confirmed Password</label>
              <input type="password" class="form-control" formControlName="confirmedPassword" autocomplete="off">
              <label class="text-danger" for="confirmedPassword" *ngIf="confirmedPasswordInvalid() && confirmedPassword.errors?.['required']">Confirmed password is required.</label>
              <label class="text-danger" for="confirmedPassword" *ngIf="confirmedPasswordInvalid() && confirmedPassword.errors?.['minlength']">Confirmed password must be at least 8 characters long.</label>
              <label class="text-danger" for="confirmedPassword" *ngIf="confirmedPasswordInvalid() && confirmedPassword.errors?.['mustMatch']">Passwords must match.</label>
            </div>
            
            <div class="form-group mt-3 mb-3" [ngClass]="{'has-danger': usernameInvalid()}">
              <label for="username" class="label">Username</label>
              <input type="text" class="form-control" formControlName="username" autocomplete="off">
              <label class="text-danger" for="username" *ngIf="usernameInvalid()">Username is required.</label>
            </div>
            
            <div class="form-group mt-3 mb-3" [ngClass]="{'has-danger': firstNameInvalid()}">
              <label for="firstName" class="label">First Name</label>
              <input type="text" class="form-control" formControlName="firstName" autocomplete="off">
              <label class="text-danger" for="firstName" *ngIf="firstNameInvalid()">First name is required.</label>
            </div>
            
            <div class="form-group mt-3 mb-3" [ngClass]="{'has-danger': lastNameInvalid()}">
              <label for="lastName" class="label">Last Name</label>
              <input type="text" class="form-control" formControlName="lastName" autocomplete="off">
              <label class="text-danger" for="lastName" *ngIf="lastNameInvalid()">Last name is required.</label>
            </div>

            <div class="text-center mt-3 mb-3">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>

          </form>

          <div class="w-100 d-flex flex-row-reverse">
            <a class="btn text-muted" routerLink="/login">Have account? Please login here.</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
