<nav class="navbar navbar-expand-lg rounded navbar-light bg-light p-1">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">Angular Template Starter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/link1">Link1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard/link2">Link2</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="float-right d-flex justify-content-end">
    <label>{{currentUser?.firstName}} {{currentUser?.lastName}}</label>
    <button class="btn btn-outline-primary" (click)="logout()">Logout</button>
  </div>
  
</nav>