<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div>
      <div class="col-12 text-center title">Angular Template Starter</div>
      <div class="card col-4 offset-4">
        <div class="card-body">
          <h4 class="card-title">Login</h4>
          <form [formGroup]="loginFG" (ngSubmit)="submit()">

            <div class="form-group mt-3 mb-3" [ngClass]="{'has-danger': emailInvalid()}">
              <label for="email" class="label">Email Address</label>
              <input type="email" class="form-control" formControlName="email" autocomplete="off">
              <label class="text-danger" for="email" *ngIf="emailInvalid() && email.errors?.['required']">Email is required.</label>
              <label class="text-danger" for="email" *ngIf="emailInvalid() && email.errors?.['email']">Email is invalid.</label>
            </div>
            
            <div class="form-group mt-3 mb-3" [ngClass]="{'has-danger': passwordInvalid()}">
              <label for="password" class="label">Password</label>
              <input type="password" class="form-control" formControlName="password" autocomplete="off">
              <label class="text-danger" for="password" *ngIf="passwordInvalid()">Password is required.</label>
            </div>
            
            <div class="text-center mt-3 mb-3">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </form>

          <div class="w-100 d-flex flex-row-reverse">
            <a class="btn text-muted" routerLink="/register">Need account? Please register here.</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
